/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .input[type=text] {
    width: 100%;
  }
  .itins {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;

  }
  .itins li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color:lightgrey;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    width:75em;
    color:grey;
    font-style: italic;
  }
  .itins li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .itins li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .itins .text {
    position: relative;
    top: -3px;
  }


 /* Structure */
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  color:black;
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
}

.button-row {
  color:black;
}

.mat-flat-button {
  background:transparent;
}


.mat-card{
  background: lightgrey;
}

.matInput{
  color: black;
}

/* When the input is focused */
.matInput-focused{
  color: black;
}
