<div class="bg-img">
    <img class="imagecenter" src="assets/Starting_Logo1.png">
    <div>
    <button type="submit" mat-flat-button (click)="signUp()">EMAIL</button>
    <br/>
    <div>
    <button type="submit" mat-flat-button (click)="signUp()">FACEBOOK</button>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>

<footer>
    <div class="parent">
    <button mat-button>About Detour</button>
    <button mat-button>Terms and Service</button>
    <button mat-button>Privacy Policy</button>
    <button mat-button>iPhoneApp</button>
    <button mat-button>AndriodApp</button>
    <button mat-button>Users</button>
    </div>
</footer>